{% extends 'service_list/base.html' %}

{% block context%}
<div class="row text-center">
    {% for item in object_list %}
            <div class="col-3">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">{{ item.name }}</h4>
                    </div>
                    <div class="card-body">
                        {% if item.picture %}
                            <img src="{{ item.picture.url }}" alt="..." class="img-thumbnail">
                        {% endif %}
                        <h1 class="card-title pricing-card-title">{{ item.slug }}</h1>
                        <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                            <li>- {{ item.overview }}
                            </li>
                        </ul>
                        <a class="btn btn-lg btn-block btn-outline-primary" href="{% url 'service_list:product_detail' item.pk %}">Подробнее</a>
                        <button type="button" class="btn btn-lg btn-block btn-outline-primary">Записаться</button>
                        {% if perms.catalog.change_product and request.user.is_staff or item.creator == request.user %}
                        <a class="btn btn-lg btn-block btn-outline-primary" href="{% url 'service_list:product_update' item.pk %}">Изменить</a>
                        {% endif %}
                    </div>
                </div>
            </div>
    {% endfor %}
</div>
{% endblock %}